header, footer {
    background-color: blue;
    color: white;
    padding: 1em;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 15px;
}
body {
    background-color: azure;
}


#footer {
    position: relative;
    top: 600px;
}

nav {background-color: bisque;
padding: 1em;
border: 1px solid grey;
}

.wrapper{
    display: flex;
}

.wrapper >div{
    flex:1;
    text-align: center;
}

section{
    float:left;
    width: 65%;
    color: blue;
    height: 230px;
    padding: 15px

}

aside {
    float: right;
    width: 25%;
    color: blue;
    height: 430px;
    padding: 1em;

}

article {
    float:  LEFT;
    width: 65%;
    padding: 1em;
    color: blue;
    height: 230px;
}

h1, h2, h3 {
    margin: 15px;
    padding: 15px;
}
#tausta {
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
    padding: 15px;
}